/* app css stylesheet */

body{
	background: #000000;
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
}
/*.player{
	width:10px; 
	height: 10px; 
	background-color: #999999; 
	position: absolute;
}*/
.scene{
	width: 504px; 
	height: 504px; 
	border: thin #777777 solid; 
	float: left;
    position: relative;
}
.stats{
	width: 200px; 
	height: 504px; 
	border: thin #777777 solid; 
	float: right; 
	font-size: 10px; 
	color: #FFFFFF;
}

player{
    position: absolute;
    height: 50px;
    width: 50px;
}