/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
body{
    background: black;
}
html,body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold !important;
    color: #808080 !important;
}
h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter,p:first-letter{
    text-transform: uppercase;
}
.container{
    max-width: 940px;
}
.container .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#main-container {
    min-height: 100%;
    position: relative;
    background: #E6E6E6;
}
#body{
    padding: 10px 0 225px 0;
}
header, header .row, footer, footer .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
a,h3{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none !important
}
h3:hover{
    color: rgba(66,133,244,0.8) !important;
}
p{
    color: #808080;
}
#menuContainer,#menu,#loginContainer,#aboutContainer,#topScoresContainer{
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}
#menu{z-index: 7;padding-top: 70px;}
#menu h3{cursor: pointer;}
#loginContainer,#aboutContainer,#topScoresContainer{z-index:6}
#menuContainer{z-index: 5;background-color: #eaeaea;}

#loginContainer.active,#aboutContainer.active,#topScoresContainer.active{
    background-color: red;
    left: 100%;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.scene{
	width: 800px;
	height: 600px;
    background: url(../img/brick.jpg) center center no-repeat;
    background-size: 800px 600px;
    position: relative;
    z-index: 0;
}
/*.stats{
	width: 200px; 
	height: 504px; 
	border: thin #777777 solid; 
	float: right; 
	font-size: 10px; 
	color: #FFFFFF;
}

player{
    position: absolute;
    height: 50px;
    width: 50px;
}*/